
<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: rgb(0, 162, 255);
}

h1 {
  font-weight: bold;
}
</style>
</head>
<body>
<h1>JOSÉ GALINDEZ, CI:30.016.640, SECCIÓN 1</h1>
</body>
</html>
